[submodule "Pie"]
	path = Pie
	url = https://github.com/IsometricSoftware/Pie
[submodule "BulletSharpPInvoke"]
	path = BulletSharpPInvoke
	url = https://github.com/AndresTraks/BulletSharpPInvoke
[submodule "mixr"]
	path = mixr
	url = https://github.com/piegfx/mixr/
